<div layout="row" class="fullSize site-localisation" layout-align="none center">
    <div layout="column" layout-align="center none">
        <div class="commune">
            {{vm.localisation}}
        </div>
        <div class="coordinates">
            {{vm.coordinates}}
        </div>
    </div>
    <div ng-if="vm.allowEdition">
        <md-button class="md-icon-button" aria-label="Editer la localisation" ng-click="vm.pickLocation()">
            <img src="assets/img/ic_edit_location_white_24dp.png">
            <md-tooltip>
                Editer la localisation
            </md-tooltip>
        </md-button>
    </div>
</div>