.fullSize {
    height: 100%;
}

.md-input-container-absolute {
    position: relative;
}

.site-page .data-container {
    padding: 2px;
}

.site-page .data-container label {
    font-size: 75%;
    color: rgba(255, 255, 255, 0.5);
    height: 16px;
}

.site-page .site-header {
    padding: 8px;
}

.site-page .toast-icon {
    margin-right: 10px;
}

.site-page md-toast {
    min-width: unset;
}

.site-page .site-header-edition {
    padding: 8px;
    overflow: hidden;
}

.site-page .site-header-edition md-input-container {
    margin: 16px 0 -10px 0;
}

.site-page .site-reference, .site-page .site-header-edition md-input-container {
    margin-right: 10px;
}

.site-page .site-reference, .site-page .site-header-edition md-input-container.site-reference {
    width: 200px;
}
md-nav-bar .md-button._md-nav-button.md-unselected {
    color: rgba(255, 255, 255, 0.54);
}
.phases-chronologiques {
    border: 2px solid black;
    width: 100%;
    display: table;
    table-layout: fixed;
}

.phases-chronologiques > div {
    display: table-row;
}

.phases-chronologiques .phase {
    display: table-cell;
    font-weight: bold;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
    border: 1px solid black;
    color: black;
    font-size:10px
}
md-toolbar.map-toolbar {
    min-height: 40px;
}

.map-toolbar span {
    font-size: 14px;
}

.map-toolbar .md-toolbar-tools {
    max-height: 40px;
}

.map-toolbar .zoomScale {
    width: 135px;
    cursor: pointer;
}
.site-archeo-list {
    padding: 0;
}

.site-archeo-list .commune {
    font-weight: bold;
    font-size: 12px;
}

.site-archeo-list .commune .siteCount {
    margin-left: 10px;
}

.site-archeo-list .site-archeo .md-list-item-text {
    position: relative;
    z-index: 1;
}

.site-archeo-list  md-list-item .md-no-style.md-button {
    font-size: 12px;
    line-height: inherit;
}

.site-archeo-list .site-archeo .reference-site {
    font-weight: bold;
    margin-right: 10px;
}

.site-localisation .coordinates {
    font-size: 12px;
}
.site-ops-map .map {
    height: 400px;
}

.panneaux-site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
}

.panneaux-site-list .panneau {
    display: inline-block;
    margin: 5px;
}

.panneaux-site-list .panneau .panneau-footer {
    background: rgba(0,0,0,.18);
    padding: 5px;
}