@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="adunware.snm">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SarcoNecMero</title>

    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />*@
        <link rel="stylesheet" href="~/lib/angular-material/angular-material.min.css" />
        <link rel="stylesheet" href="~/lib/ol3/ol-debug.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/assets/css/sarconecmero.css" />
    </environment>
    <environment names="Staging,Production">
        @*<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />*@
        <link rel="stylesheet" href="~/lib/ol3/ol.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/assets/css/sarconecmero.min.css" />
    </environment>
</head>
<body layout="column">
    <layout-page flex layout="column"></layout-page>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        @*<script src="~/lib/bootstrap/js/bootstrap.js"></script>*@
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/lib/proj4/proj4.js"></script>
        <script src="~/lib/ol3/ol-debug.js"></script>
        <script src="~/app/sarconecmero.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        @*<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>*@
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/lib/proj4/proj4.js"></script>
        <script src="~/lib/ol3/ol.js"></script>
        <script src="~/app/sarconecmero.min.js"></script>
    </environment>
</body>
</html>