@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SarcoNecMero</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="~/lib/angular-material/angular-material.min.css" />

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/ol3/ol-debug.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/assets/css/sarconecmero.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/lib/ol3/ol.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/assets/css/sarconecmero.css" />
    </environment>
</head>
<body layout="column">
    <layout-page flex layout="column"></layout-page>

    <environment names="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="~/lib/angular/angular-locale_fr-fr.js"></script>
        <script src="~/lib/proj4/proj4.js"></script>
        <script src="~/lib/ol3/ol-debug.js"></script>
        <script src="~/lib/lodash/lodash.js"></script>
        <script src="~/app/sarconecmero.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-aria/angular-aria.js"></script>
        <script src="~/lib/angular-messages/angular-messages.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-material/angular-material.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.0/angular-locale_fr-fr.min.js"></script>
        <script src="~/lib/proj4/proj4.js"></script>
        <script src="~/lib/ol3/ol.js"></script>
        <script src="~/lib/lodash/lodash.min.js"></script>
        <script src="~/app/sarconecmero.js"></script>
    </environment>
</body>
</html>