<!--<md-grid-list class="layer-picker"-->
        <!--md-cols="4"-->
        <!--md-row-height="80px"-->
        <!--md-gutter="8px">-->

    <!--<md-grid-tile class="layer-picker-tile" ng-repeat="def in vm.map.baseLayers">-->
        <!--<img ng-src="{{def.imgUrl}}">-->
        <!--<md-grid-tile-footer>-->
            <!--<span>{{def.label}}</span>-->
        <!--</md-grid-tile-footer>-->
    <!--</md-grid-tile>-->

<!--</md-grid-list>-->

<div class="layer-picker">
    <div class="tile-container">
        <div class="layer-picker-tile" ng-repeat="def in vm.map.baseLayers" layout="column">
            <md-button ng-click="vm.useLayer(def)" aria-label="{{def.label}}">
                <img ng-src="{{def.imgUrl}}">
                <md-tooltip md-direction="top">
                    {{def.label}}
                </md-tooltip>
            </md-button>
        </div>
    </div>
</div>