<div layout="column" ng-cloak="" class="md-inline-form site-page" layout="column" flex>
    <md-content md-theme="docs-dark" layout="row" class="site-header">
        <div class="md-block data-container site-reference">
            <label>Référence</label>
            <div>{{vm.site.reference}}</div>
        </div>

        <div class="md-block data-container" flex>
            <label>Site</label>
            <div>{{vm.site.localisation}}</div>
        </div>

        <site-localisation site="vm.site" allow-edition="false" event-block="vm.eventBlock"></site-localisation>

        <div>
            <md-button md-no-ink class="md-primary" ng-click="vm.edit()">Editer</md-button>
        </div>
    </md-content>
    <md-content layout="column" flex>
        <md-tabs flex>
            <md-tab id="localisation">
                <md-tab-label>Localisation</md-tab-label>
                <md-tab-body>
                    <site-ops-map site="vm.site" event-block="vm.eventBlock" layout-padding=""></site-ops-map>
                </md-tab-body>
            </md-tab>
            <md-tab id="sarcophages">
                <md-tab-label>Sarcophages</md-tab-label>
                <md-tab-body>
                    <panneaux-site-list site-id="vm.site.id"></panneaux-site-list>
                </md-tab-body>
            </md-tab>
        </md-tabs>
    </md-content>
</div>